sudo: required
dist: trusty


language: java
python:
        - "2.7"
language: go
go:
        - 1.8.1
go_import_path: github.com/GoogleCloudPlatform/runtimes-common

jdk:
  - oraclejdk8

env:
  - NODE_VERSION="6.11.4"

before_install:
  - pip install --user --upgrade -r requirements.txt
  - nvm install $NODE_VERSION

addons:
  apt:
    sources:
    - sourceline: 'deb [arch=amd64] http://storage.googleapis.com/bazel-apt stable jdk1.8'
      key_url: 'https://storage.googleapis.com/bazel-apt/doc/apt-key.pub.gpg'
    - debian-sid

    packages:
    - shellcheck
    - bazel

install:
  - go get -u github.com/bazelbuild/buildifier/buildifier

script:
 - find . -name "*.sh" | grep -v vendor/ | xargs shellcheck
 - flake8 .
 - ./.gofmt.sh
 - ./.buildifier.sh
 # - bazel clean && bazel build //...
 - bazel test reconciletags:reconciletags_test
 - bazel run //ftl:node_builder_test
 - bazel test testing/lib:mock_registry_tests
 - cd runtime_builders && py.test test_manifest.py && cd ..
 - cd structure_tests && make && cd ..
 - bazel build //structure_tests:go_default_test
