language: python
python:
        - "2.7"

before_install:
        - pip install --upgrade pip
        - pip install pep8
        - pip install flake8

addons:
  apt:
    sources:
    - debian-sid    # Grab shellcheck from the Debian repo (o_O)
    packages:
    - shellcheck

script:
 - find . -name "*.sh" | xargs shellcheck
 - flake8 .
